.landing {
    height: 100vh;
    background-image: url('/word.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .img {
    position: relative;
    z-index: -1;
    padding: 30px;
}

.landing .img span {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: var(--secondColor);
    border-radius: 50%;
    left: 0;
    top: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}

.landing .text {
    color: var(--mainColor);
}

.landing .text .main {
    color: var(--black);
}

.landing .text h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.landing .text h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.landing .bookingButton {
    background-color: var(--secondColor);
    width: 80%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .landing .img {
        display: none;
    }

    .landing .container {
        justify-content: center;
        text-align: center;
    }
}